<div class="page-header">
  <h1>Dish #<%= @dish.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @dish.name %></dd>

  <dt>Cuisine</dt>
  <dd><%= Cuisine.find(@dish.cuisine_id).name %></dd>

  <dt>Favorites</dt>
  <dd>
    <% @dish_favorites.each do |favorite| %>
      <li> <%= Venue.find(favorite.venue_id).name %> (<%= User.find(favorite.user_id).username %>) </li>
    <% end %>
  </dd>

</dl>
